$BgColor: #050614;
$SLine: rgba(255, 255, 255, 0.2);
$MainColor: #ff007a;
$LineHeight: 4px;
@font-face {
    font-family: LX_main;
    src: url("./fonts/K2D-Bold.ttf");
}
.LX_Player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 600px;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    overflow: hidden;
    font-family: LX_main;
    letter-spacing: 1px;
    video {
        height: 100%;
        width: 100%;
    }
    .LX_Controls_Fade {
        position: absolute;
        height: 90px;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
        bottom: 0;
    }
    .LX_Controls_Content {
        width: 96%;
        height: 40px;
        position: absolute;
        bottom: 0;
    }
    .LX_Progress {
        height: 10px;
        cursor: pointer;
        z-index: 2;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        top: 0;
        .LX_TimeShow {
            position: absolute;
            top: -30px;
            height: 25px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 5px;
            background-color: $BgColor;
            pointer-events: none;
            visibility: hidden;
            font-size: 12px;
            opacity: 1;
            transition: opacity 0.2s, visibility 0.5s;
            user-select: none;
        }
        &:hover {
            .LX_Progress_Line {
                &::before {
                    scale: 0.6;
                }
            }
        }
        .LX_Progress_BLine {
            position: absolute;
            height: $LineHeight;
            width: 100%;
            background-color: $BgColor;
            user-select: none;
            pointer-events: none;
        }
        .LX_Progress_SLine {
            position: absolute;
            height: $LineHeight;
            width: 0%;
            background-color: $SLine;
            user-select: none;
            pointer-events: none;
        }
        .LX_Progress_Line {
            position: absolute;
            display: flex;
            align-items: center;
            left: 0;
            height: $LineHeight;
            width: 0%;
            background-color: $MainColor;
            user-select: none;
            pointer-events: none;
            &::before {
                content: "";
                position: absolute;
                right: -8px;
                height: 16px;
                aspect-ratio: 1;
                border-radius: 5px;
                background-color: $MainColor;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
                scale: 0;
                transition: 0.2s;
            }
        }
    }
    .LX_Controls {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: calc(100% - 4px);
        width: 100%;
        padding: 0 2px;
        .LX_LeftSide {
        }
        .LX_RightSide {
        }
    }
    .LX_Play {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .LX_Fullscreen {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}
